function Game.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push pointer 0
call Game.createSprites 1
pop temp 0
push pointer 0
return
function Game.init 0
push argument 0
pop pointer 0
push this 1
call PacMan.init 1
pop temp 0
push this 3
call Walls.init 1
pop temp 0
push this 2
call Pellets.init 1
pop temp 0
push this 0
call Score.init 1
pop temp 0
push this 4
call Ghosts.init 1
pop temp 0
push this 5
call Labels.init 1
pop temp 0
push constant 0
return
function Game.next 1
push argument 0
pop pointer 0
push this 1
call PacMan.getIsCaptured 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10
push constant 46
call Output.moveCursor 2
pop temp 0
push constant 9
call String.new 1
push constant 71
call String.appendChar 2
push constant 65
call String.appendChar 2
push constant 77
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 13
push constant 46
call Output.moveCursor 2
pop temp 0
push constant 11
call String.new 1
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 84
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 78
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 14
push constant 46
call Output.moveCursor 2
pop temp 0
push constant 10
call String.new 1
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 83
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 50
call String.appendChar 2
call Output.printString 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 142
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Game.newGame 1
pop temp 0
push constant 0
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push this 1
call PacMan.next 1
pop temp 0
push this 4
call Ghosts.next 1
pop temp 0
push this 0
call Score.next 1
pop temp 0
push constant 0
return
function Game.handleKey 0
push argument 0
pop pointer 0
push argument 1
push constant 142
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Game.newGame 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 1
push argument 1
call PacMan.handleKey 2
pop temp 0
push constant 0
return
function Game.newGame 0
push argument 0
pop pointer 0
push pointer 0
call Game.disposeSprites 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push pointer 0
call Game.createSprites 1
pop temp 0
push pointer 0
call Game.init 1
pop temp 0
push constant 0
return
function Game.createSprites 0
push argument 0
pop pointer 0
call Walls.new 0
pop this 3
call Pellets.new 0
pop this 2
push this 2
push this 3
call PacMan.new 2
pop this 1
push this 2
call Score.new 1
pop this 0
push this 1
push this 3
push this 2
call Ghosts.new 3
pop this 4
call Labels.new 0
pop this 5
push constant 0
return
function Game.disposeSprites 0
push argument 0
pop pointer 0
push this 3
call Walls.dispose 1
pop temp 0
push this 2
call Pellets.dispose 1
pop temp 0
push this 1
call PacMan.dispose 1
pop temp 0
push this 0
call Score.dispose 1
pop temp 0
push this 4
call Ghosts.dispose 1
pop temp 0
push this 5
call Labels.dispose 1
pop temp 0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Game.disposeSprites 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
