function Ghost.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 12
pop this 2
push constant 3
pop this 4
push argument 0
pop this 0
push argument 1
pop this 1
push constant 3
pop this 3
push argument 2
pop this 6
push argument 3
pop this 5
push argument 4
pop this 7
push pointer 0
return
function Ghost.endX 0
push argument 0
pop pointer 0
push this 0
push this 2
add
push constant 1
sub
return
function Ghost.endY 0
push argument 0
pop pointer 0
push this 1
push this 2
add
push constant 1
sub
return
function Ghost.init 0
push argument 0
pop pointer 0
push pointer 0
call Ghost.draw 1
pop temp 0
push constant 0
return
function Ghost.next 1
push argument 0
pop pointer 0
push pointer 0
call Ghost.advance 1
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Ghost.draw 1
pop temp 0
label IF_FALSE0
push this 6
push this 0
push this 1
push pointer 0
call Ghost.endX 1
push pointer 0
call Ghost.endY 1
call PacMan.checkOverlapping 5
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 6
call PacMan.capture 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Ghost.advance 2
push argument 0
pop pointer 0
push pointer 0
call Ghost.getNextX 1
pop local 0
push pointer 0
call Ghost.getNextY 1
pop local 1
push pointer 0
push local 0
push local 1
call Ghost.willCollideWithWalls 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Ghost.setNextDirRandom 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 0
push local 0
eq
push this 1
push local 1
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
pop this 0
push local 1
pop this 1
push constant 0
not
return
function Ghost.willCollideWithWalls 2
push argument 0
pop pointer 0
push argument 1
push this 2
add
push constant 1
sub
pop local 0
push argument 2
push this 2
add
push constant 1
sub
pop local 1
push this 5
push argument 1
push argument 2
push local 0
push local 1
call Walls.checkOverlapping 5
return
function Ghost.setNextDirAI 4
push argument 0
pop pointer 0
push this 6
call PacMan.getX 1
pop local 0
push this 6
call PacMan.getY 1
pop local 1
push this 0
push local 0
call Math.max 2
push this 0
push local 0
call Math.min 2
sub
pop local 2
push this 1
push local 1
call Math.max 2
push this 1
push local 1
call Math.min 2
sub
pop local 3
push local 2
push constant 0
eq
not
push local 2
push local 3
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 3
pop this 3
push constant 0
return
label IF_FALSE1
push constant 4
pop this 3
push constant 0
return
label IF_FALSE0
push local 1
push this 1
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 3
push constant 0
return
label IF_FALSE2
push constant 2
pop this 3
push constant 0
return
function Ghost.setNextDirRandom 1
push argument 0
pop pointer 0
push constant 150
call Random.randRange 1
pop local 0
push local 0
push constant 25
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 3
push constant 0
return
label IF_FALSE0
push local 0
push constant 50
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop this 3
push constant 0
return
label IF_FALSE1
push local 0
push constant 75
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop this 3
push constant 0
return
label IF_FALSE2
push local 0
push constant 100
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop this 3
push constant 0
return
label IF_FALSE3
push pointer 0
call Ghost.setNextDirAI 1
pop temp 0
push constant 0
return
function Ghost.getNextX 1
push argument 0
pop pointer 0
push this 0
pop local 0
push this 3
push constant 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 4
add
pop local 0
label IF_FALSE0
push this 3
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 4
sub
pop local 0
label IF_FALSE1
push local 0
return
function Ghost.getNextY 1
push argument 0
pop pointer 0
push this 1
pop local 0
push this 3
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push this 4
add
pop local 0
label IF_FALSE0
push this 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push this 4
sub
pop local 0
label IF_FALSE1
push local 0
push constant 220
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 12
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push pointer 0
call Ghost.endX 1
push pointer 0
call Ghost.endY 1
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push local 0
push constant 12
lt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 220
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push pointer 0
call Ghost.endX 1
push pointer 0
call Ghost.endY 1
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push local 0
return
function Ghost.draw 4
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 3
push constant 4
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 4
sub
pop local 0
push pointer 0
call Ghost.endX 1
push this 4
sub
pop local 1
push this 1
pop local 2
push pointer 0
call Ghost.endY 1
pop local 3
label IF_FALSE0
push this 3
push constant 3
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push this 4
add
pop local 0
push pointer 0
call Ghost.endX 1
push this 4
add
pop local 1
push this 1
pop local 2
push pointer 0
call Ghost.endY 1
pop local 3
label IF_FALSE1
push this 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
pop local 0
push pointer 0
call Ghost.endX 1
pop local 1
push this 1
push this 4
sub
pop local 2
push pointer 0
call Ghost.endY 1
push this 4
sub
pop local 3
label IF_FALSE2
push this 3
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 0
pop local 0
push pointer 0
call Ghost.endX 1
pop local 1
push this 1
push this 4
add
pop local 2
push pointer 0
call Ghost.endY 1
push this 4
add
pop local 3
label IF_FALSE3
push local 0
push local 2
push local 1
push local 3
call Screen.drawRectangle 4
pop temp 0
push this 7
push local 0
push local 2
push local 1
push local 3
push constant 0
call Pellets.setCollected 6
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push pointer 0
call Ghost.endX 1
push pointer 0
call Ghost.endY 1
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Ghost.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
