function Main.main 2
call Splash.show 0
pop temp 0
call Random.seed 0
pop temp 0
call Screen.clearScreen 0
pop temp 0
call Game.new 0
pop local 1
push local 1
call Game.init 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 1
call Game.next 1
pop temp 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push local 0
call Game.handleKey 2
pop temp 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
