function Pellet.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 2
pop this 3
push constant 0
pop this 2
push pointer 0
return
function Pellet.draw 0
push argument 0
pop pointer 0
push this 2
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 3
add
push constant 1
sub
push this 1
push this 3
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Pellet.setCollected 0
push argument 0
pop pointer 0
push constant 0
not
pop this 2
push constant 0
return
function Pellet.isCollected 0
push argument 0
pop pointer 0
push this 2
return
function Pellet.checkOverlapping 0
push argument 0
pop pointer 0
push argument 1
push this 0
push this 3
add
lt
push argument 3
push this 0
push constant 1
sub
gt
and
push argument 2
push this 1
push this 3
add
lt
push argument 4
push this 1
push constant 1
sub
gt
and
and
return
function Pellet.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
